<h1><%= APP_CONFIG['default_title'] %></h1>

<p>Olá <%= @user.name %>,</p>

<p>
Bem-vindo ao <%= APP_CONFIG['title_abbreviation'] %>! Clique no endereço abaixo para ativar sua conta:

<%# @user.activation_token = User.new_token %>
<% #@user.activation_digest = User.digest(@user.activation_token) %>
TOKEN: <%= @user.activation_token %>

</p>

<%= link_to "ATIVAR", "#{root_url}account_activations/#{@user.activation_token}/edit?email=#{@user.email}" %>
