<h1><%= APP_CONFIG['default_title'] %></h1>

<p>Olá <%= @user.name %>,</p>

<p>
Bem-vindo ao <%= APP_CONFIG['title_abbreviation'] %>! Clique no endereço abaixo para ativar sua conta:
</p>
TOKEN <%=  @user.activation_token %>
<%= link_to "Ativar", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
