<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<tr class="panel panel-<%= task.priority %>" >
  <td class="col-sm-1 col-md-1">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="glyphicon glyphicon-option-vertical" ></span>
      </button>
      <ul class="dropdown-menu" id="not-header-dropdown" aria-labelledby="dropdownMenu1">
        <% if current_user.following?(task) %>
          <li><%= link_to "Deixa de seguir", unfollow_task_path(task.id), { method: :delete } %></li>
        <% else %>
          <li><%= link_to "Seguir", follow_task_path(task.id), { method: :post } %></li>
        <% end %>
        <% if author?(task) || admin?(@group.id) %>
          <li><%= link_to "Arquivar/Encerrar", archive_path(task.id), method: :put %></li>
          <li><%= link_to "Editar", edit_group_task_path(@group, task) %></li>
          <li><%= link_to "Excluir", group_task_path(@group, task),
                                     method: :delete,
                                     data: { confirm: "Você realmente deseja excluir esta tarefa?" } %></li>
        <% end %>
      </ul>
    </div>
  </td>
  <td class="col-sm-6 col-md-6"><%= link_to task.title, task_comments_path(@group, task) %></td>
  <td class="col-sm-4 col-md-4"><%= task.deadline.to_formatted_s(:long) %></td>
  <!-- <td class="col-sm-1 col-md-1"><%= task.priority %></td> -->
  <td class="col-sm-1 col-md-1"><%= task.comments.count %></td>
</tr>
