<tr class="panel panel-<%= task.priority %>" >
  <td class="col-sm-1 col-md-1">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="glyphicon glyphicon-option-vertical" ></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Action</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
  </td>
  <td class="col-sm-6 col-md-6"><%= link_to task.title, group_task_path(@group, id: task.id) %></td>
  <td class="col-sm-4 col-md-4"><%= task.deadline.to_formatted_s(:long) %></td>
  <!-- <td class="col-sm-1 col-md-1"><%= task.priority %></td> -->
  <td class="col-sm-1 col-md-1"><%= 0 %></td>
</tr>
