<% provide(:title, 'Grupos') %>

<div class="jumbotron">
  <h1>Grupos</h1>
  <a href="<%= new_group_url %>" >
    <button type="button" class="btn btn-primary circle pull-right add-button"
            title="Novo grupo">
      <span class="glyphicon glyphicon-plus" ></span>
    </button>
  </a>
</div>

<%= will_paginate @groups %>

<% @groups.each_slice(3) do |group_slice| %>

  <div class="row">

    <% group_slice.each do |group| %>

      <div class="col-md-4 groups" >
        <div class="spacer" style>
          <img class="img-circle" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Flag_of_Afghanistan_(1880%E2%80%931901).svg/2000px-Flag_of_Afghanistan_(1880%E2%80%931901).svg.png">
          <h2><%= group.name %></h2>
          <p class="area"><strong><%= group.area %></strong></p>
          <p class="left description"><%= group.description %></p>

            <%= link_to "Ver mais", group, {:class => "btn btn-default", :role => "button"}%>

        </div>
      </div>

    <% end %>

  </div>

<% end %>

<%= will_paginate @groups %>
