<% provide(:title, @group.name) %>
<% breadcrumb :group, @group %>

<div class="row"  style="margin: 0px;">

  <div class="col-sm-3 well">
    <div class="group_sidebar">

      <div class="group_pic">
        <img class="img-circle" width="140" height="140" src="/assets/group.png">
      <!-- GROUP_PIC -->
      </div>

      <div class="group_information">
        <div class="group_name"><strong><%= @group.name %></strong></div>
        <div class="group_area"><%= @group.area %></div>
      <!-- GROUP_INFORMATION -->
      </div>

      <div class="group_menu">
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a data-toggle="tab" href="#group_forum">Fórum
            <span class="badge pull-right"><%=@active_tasks.count%></span>
          </a></li>
          <li><a data-toggle="tab" href="#group_members">Membros
            <span class="badge pull-right"><%=@members.count%></span>
          </a></li>
          <% if admin?(@group.id) %>
              <li><a data-toggle="pill" href="#group_configurations">Configurações</a></li>
          <% end %>
          <% if member?(@group.id) && !pending?(@current_member, @group) %>
              <li>
                <%= link_to "Deixar grupo",  group_member_path(@group, @group.members.find_by(user_id: current_user.id)),
                                             method: :delete,
                                             data: { confirm: "Você realmente deseja deixar este grupo?" } %>
              </li>
          <% elsif !member?(@group.id) && !pending?(@current_member, @group) %>
            <li><%= link_to "Participar",  group_members_path(@group), method: :post %></li>
          <% end %>
        </ul>
      <!-- GROUP_MENU -->
      </div>
    <!-- GROUP_SIDEBAR -->
    </div>

  <!--COL-MD-3 -->
  </div>

  <div class="col-sm-9 well group_content tab-content" id="div_id">
    <% if member?(@group.id) && !pending?(@current_member, @group) %>
      <div role="tabpanel" class="tab-pane fade in active" id="group_forum">
        <%= render :file => '/tasks/_index' %>
        <!-- GROUP_FORUM -->
      </div>

      <div role="tabpanel" class="tab-pane fade in" id="group_members">
        <%= render :file => '/members/_index' %>
        <!-- GROUP_MEMBERS -->
      </div>

      <div role="tabpanel" class="tab-pane fade in" id="group_configurations">
        <%= render :file => 'groups/_edit' %>
        <!-- GROUP_CONFIGURATIONS -->
      </div>
    <% elsif member?(@group.id) && pending?(@current_member, @group) %>
      <div class="jumbotron">
        <h3>Seu pedido de participação já foi enviado aos
          administradores. Aguarde sua aprovação!</h3>
      </div>
    <% else %>
      <div class="jumbotron">
        <h3>Apenas membros possuem acesso a este conteúdo</h3>
      </div>
    <% end %>
  <!-- GROUP_CONTENT -->
  </div>

<!-- ROW -->
</div>


<!-- <script type="text/javascript">
$(document).ready(function() {
    if(location.hash) {
        $('a[href=' + location.hash + ']').tab('show');
    }
    $(document.body).on("click", "a[data-toggle]", function(event) {
        location.hash = this.getAttribute("href");
    });
});
$(window).on('popstate', function() {
    var anchor = location.hash || $("a[data-toggle=tab]").first().attr("href");
    $('a[href=' + anchor + ']').tab('show');
});
</script> -->
