<% provide(:title, @user.name) %>
<% breadcrumb :user, @user %>

<div class="row"  style="margin: 0px;">
  <div class="col-sm-3 well">
    <div class="group_sidebar">
      <div class="group_information">
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
        <p>
          <%= "#{@user.course}" %>
          <br />
          <%= "#{@user.organization}" %>
        </p>
      </div>

      <div class="group_menu" style="margin-bottom: 10px;">
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a data-toggle="tab" href="#user_tasks">Tarefas
                             <span class="badge pull-right"><%=@tasks.count%></span>
          </a></li>
          <% if current_user == @user %>
            <li><a data-toggle="tab" href="#user_invitations">Convites
                <span class="badge pull-right"><%=@invitations.count%></span>
            </a></li>
          <% end %>
          <li><a data-toggle="tab" href="#user_followers">Seguidores
              <span class="badge pull-right"><%=@followers.count%></span>
          </a></li>
          <li><a data-toggle="tab" href="#user_follows">Seguindo
              <span class="badge pull-right"><%=@followings.count%></span>
          </a></li>
          <li><a data-toggle="tab" href="#user_comments">Comentários
              <span class="badge pull-right"><%=@comments.count%></span>
          </a></li>
          <li><a data-toggle="tab" href="#user_groups">Grupos
              <span class="badge pull-right"><%=@groups.count%></span>
          </a></li>

        </ul>
      </div>
    </div>
    <%= render 'follow_form' %>
  </div>


  <div class="col-sm-9 well group_content tab-content" id="div_id">
      <div role="tabpanel" class="tab-pane fade in active" id="user_tasks">
        <ul class="list">
          <% @tasks.each do |t| %>
            <li><%= link_to t.title, task_comments_path(t) %></li>
          <% end %>
        </ul>
        <%= will_paginate @tasks %>
      </div>

      <div role="tabpanel" class="tab-pane fade in" id="user_followers">
        <%#= render :file => '/members/_index' %>
        <ul class="list">
          <% @followers.each do |u| %>
            <li><%= link_to u.name, u %></li>
          <% end %>
        </ul>
        <%= will_paginate @followers %>
      </div>

      <div role="tabpanel" class="tab-pane fade in" id="user_follows">
        <%#= render :file => 'groups/_edit' %>
        <ul class="list">
          <% @followings.each do |u| %>

            <li><%= link_to u.name, u %></li>
          <% end %>
        </ul>
        <%= will_paginate @followings %>
      </div>

      <div role="tabpanel" class="tab-pane fade in" id="user_comments">
        <%#= render :file => 'groups/_edit' %>
        <ul class="list">
          <% @comments.each do |c| %>
            <li>
              <% task = Task.find(c.task.id) %>
              <%= link_to task.title, task_comments_path(task.group, task) %>
              <%= ": #{c.content.first(20)}" %>
            </li>
          <% end %>
        </ul>
        <%= will_paginate @comments %>
      </div>

      <div role="tabpanel" class="tab-pane fade in" id="user_groups">
        <%#= render :file => 'groups/_edit' %>
        <ul class="list">
          <% @groups.each do |g| %>
            <li>  <%= link_to g.name, g %></li>
          <% end %>
        </ul>
        <%= will_paginate @groups %>
      </div>
      <div role="tabpanel" class="tab-pane fade in" id="user_invitations">
        <%= render :file => '/invitations/_index' %>
      </div>
  </div>
</div>
