<% provide(:title, @user.name) %>
<% breadcrumb :user, @user %>

<div class="row"  style="margin: 0px;">
  <div class="col-sm-3 well">
    <div class="group_sidebar">
      <div class="group_information">
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
        <p>
          <%= "#{@user.course}" %>
          <br />
          <%= "#{@user.organization}" %>
        </p>
      </div>

      <div class="group_menu" style="margin-bottom: 10px;">
        <ul class="nav nav-pills nav-stacked">
          <li class="<%= 'active' if user_tab == 'groups' || !params[:tab] %>"><a href="?tab=groups">Grupos
              <span class="badge pull-right"><%=@groups.count%></span>
          </a></li>
          <% if current_user == @user %>
            <li class="<%= 'active' if user_tab == 'invitations' %>"><a href="?tab=invitations">Convites
                <span class="badge pull-right"><%=@invitations.count%></span>
            </a></li>
            <li class="<%= 'active' if user_tab == 'tasks' %>"><a href="?tab=tasks">Tarefas
                               <span class="badge pull-right"><%=@tasks.count%></span>
            </a></li>
          <% end %>
          <li class="<%= 'active' if user_tab == 'followers' %>"><a href="?tab=followers">Seguidores
              <span class="badge pull-right"><%=@followers.count%></span>
          </a></li>
          <li class="<%= 'active' if user_tab == 'follows' %>"><a href="?tab=follows">Seguindo
              <span class="badge pull-right"><%=@followings.count%></span>
          </a></li>
          <li class="<%= 'active' if user_tab == 'comments' %>"><a href="?tab=comments">Comentários
              <span class="badge pull-right"><%=@comments.count%></span>
          </a></li>
        </ul>
      </div>
    </div>
    <%= render 'follow_form' %>
  </div>


  <div class="col-sm-9 well group_content tab-content" id="div_id">
      <div role="tabpanel" class="<%= user_tab == 'tasks' ?  'tab-pane active' : 'tab-pane' %>" id="tasks">
        <div class="jumbotron narrower">
          <h3>Tarefas</h3>
        </div>
        <ul class="list">
          <%= render :partial => '/users/item', collection: @tasks, as: :item %>
        </ul>
        <%= will_paginate @tasks %>
      </div>

      <div role="tabpanel" class="<%= user_tab == 'followers' ? 'tab-pane active' : 'tab-pane' %>" id="followers">
        <div class="jumbotron narrower">
          <h3>Seguidores</h3>
        </div>
        <ul class="list">
          <%= render :partial => '/users/item', collection: @followers, as: :item %>
        </ul>
        <%= will_paginate @followers %>
      </div>

      <div role="tabpanel" class="<%= user_tab == 'follows' ? 'tab-pane active' : 'tab-pane' %>" id="follows">
          <div class="jumbotron narrower">
            <h3>Seguindo</h3>
          </div>
          <ul class="list">
            <%= render :partial => '/users/item', collection: @followings, as: :item %>
          </ul>
          <%= will_paginate @followings %>
      </div>

      <div role="tabpanel" class="<%= user_tab == 'comments' ? 'tab-pane active' : 'tab-pane' %>" id="comments">
        <div class="jumbotron narrower">
          <h3>Comentários</h3>
        </div>
        <ul class="list">
          <% @comments.each do |c| %>
            <li class="panel panel-default" style="margin: 0px; padding-left: 10px;">
              <% task = Task.find(c.task.id) %>
              <b>Tarefa: </b><%= link_to task.title, task_comments_path(task.group, task) %>
              <br>
              <b>Comentário: </b><%= "#{c.content.first(50)}" %>
              <br>
              <b>Pontuação: </b><%= "#{c.cached_votes_score}" %>
            </li>
          <% end %>
        </ul>
        <%= will_paginate @comments %>
      </div>

      <div role="tabpanel" class="<%= (user_tab == 'groups' || !params[:tab]) ? 'tab-pane active' : 'tab-pane' %>" id="groups">
        <div class="jumbotron narrower">
          <h3>Grupos</h3>
        </div>
        <ul class="list">
          <%= render :partial => '/users/item', collection: @groups, as: :item %>
        </ul>
        <%= will_paginate @groups %>
      </div>
      <div role="tabpanel" class="<%= user_tab == 'invitations' ? 'tab-pane active' : 'tab-pane' %>" id="invitations">
        <%= render :file => '/invitations/_index' %>
      </div>
  </div>
</div>
