<header class = "navbar navbar-static-top navbar-inverse" role = "navigation">
  <div class="container">
     <div class = "navbar-header">
        <button type = "button" class = "navbar-toggle"
           data-toggle = "collapse" data-target = "#navbar-collapse">
           <span class = "sr-only">Toggle navigation</span>
           <span class = "icon-bar"></span>
           <span class = "icon-bar"></span>
           <span class = "icon-bar"></span>
        </button>

          <%= link_to APP_CONFIG['title_abbreviation'], root_path, id: "logo" %>
     </div>

     <div class = "collapse navbar-collapse" id = "navbar-collapse">

       <ul class="nav navbar-nav">
         <li class="container-fluid">
           <form class="navbar-form" id="search-form" role="search" action="/groups">
             <div class="input-group">
               <select style="width: 35%; padding-bottom: 5px !important;" class="input-group-addon form-control" id="selectsearch">
                 <option value="/groups" selected>Grupo</option>
                 <option value="/users">Usuário</option>
               </select>
               <input style="float:center; width: 65%;" type="text" class="form-control" placeholder="Buscar" name="srch-term" id="srch-term">
               <div style="margin-right:88%;" class="input-group-btn">
                 <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
               </div>
             </div>
           </form>
         </li>
       </ul>
       <ul class="nav navbar-nav navbar-right">
         <li><%= link_to "Início",   root_path %></li>
         <li><%= link_to "Grupos",   groups_path %></li>
         <li><%= link_to "Usuários", users_path %></li>
         <% if logged_in? %>
           <li class="dropdown">
             <a href="#" class="dropdown-toggle gravatar_header" data-toggle="dropdown">
                <%= gravatar_for(current_user, size:30, type:"circle") %>
                <b class="caret"></b>
             </a>
             <ul class="dropdown-menu content">
               <li><span class="item">
                <em> <%= truncate(@current_user.name, length: 25) %></em>
               </span></li>
               <li class="divider"></li>
               <li><%= link_to "Perfil", current_user %></li>
               <li><%= link_to "Configurações", edit_user_path(current_user) %></li>
               <li class="divider"></li>
               <li>
                 <%= link_to logout_path, method: :delete do %>
                   <span class="glyphicon glyphicon-log-out"></span> Sair
                 <% end %>
               </li>
             </ul>
           </li>
         <% else %>
           <li>
             <%= link_to login_path do %>
               <span class="glyphicon glyphicon-log-in"></span> Entrar
             <% end %>
           </li>
         <% end %>
       </ul>
     </div>
  </div>
</header>

<script type="text/javascript">
$("#selectsearch").change(function() {
  var action = $(this).val() == "groups" ? "groups" : "users";
  $("#search-form").attr("action", "/" + action);
});
</script>
