<div class="row panel panel-default" >
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="glyphicon glyphicon-option-vertical" ></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><%= link_to "Visualizar perfil", user_path(member.user) %></li>
      <% if admin?(params[:group_id]) %>
        <li><%= link_to "Tornar administrador", group_member_path(@group, member),
                                                method: :patch %></li>
        <li><%= link_to "Expulsar", group_member_path(@group, member),
                                    method: :delete,
                                    data: { confirm: "Você realmente deseja expulsar este membro?" } %></li>
      <% end %>
    </ul>
  </div>

  <li class="col-sm-11">
    <%= gravatar_for member.user, size: 50 %>
    <%= link_to  member.user.name,  member.user %>
  </li>
</div>
