<% if !member.pending? %>
<div class="row panel panel-default" >
<% else %>
<div class="row panel panel-pending" >
<% end %>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="glyphicon glyphicon-option-vertical" ></span>
    </button>
    <ul class="dropdown-menu" id="not-header-dropdown" aria-labelledby="dropdownMenu1">
      <li><%= link_to "Visualizar perfil", user_path(member.user) %></li>
      <% if admin?(params[:id]) %>
        <% if !member.pending? %>
          <% unless admin?(params[:id], member) %>
            <li><%= link_to "Tornar administrador",
                            "/groups/#{@group.id}/members/#{member.id}?admin=#{true}",
                              data: { confirm: "Você realmente deseja tornar este membro administrador?" } %></li>
          <% end %>
          <li><%= link_to "Expulsar", group_member_path(@group, member),
                                      method: :delete,
                                      data: { confirm: "Você realmente deseja expulsar este membro?" } %></li>
        <% else %>
          <li><%= link_to "Aceitar",
                          "/groups/#{@group.id}/members/#{member.id}?admin=#{false}&pending=#{false}",
                          data: { confirm: "Você realmente deseja aceitar o pedido deste usuário?" } %></li>
          <li><%= link_to "Recusar", group_member_path(@group, member),
                                      method: :delete,
                                      data: { confirm: "Você realmente deseja recusar o pedido deste usuário?" } %></li>
        <% end %>

      <% end %>
    </ul>
  </div>

  <li class="col-sm-11">
    <%= gravatar_for member.user, size: 50 %>
    <% if member.pending? %>
      <%= link_to  member.user.name + " (pendente)", member.user %>
    <% else %>
      <%= link_to  member.user.name, member.user %>
      <%= "<span class='glyphicon glyphicon-king'></span>".html_safe if admin?(@group.id, member) %>
    <% end %>
  </li>
</div>
